@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
 
 *{
	  margin: 0;
	  padding: 0;
    font-family:sans-serif;
  }
  body
  {
    background: rgb(1, 5, 37);
  }
  .container
  {
	   width: 100%;
	   height: 100%;
	  // background-image: url(img/background.png);
	  // background-size: contain;
	  // background-position: center;
	  // position: relative;
	  // overflow: visible;
	  
  }  

  .intro
  {
	  color: white;
	  font-size: 20px;
	//  padding-top: 100px; 
	// padding-left: 80px;
  }
  .MyName1
  {
	  color: white;
	  font-size: 50px;
	 // padding-top: 50px;
	 // padding-left: 80px;
  }
  .MyName2
  {
	  color: white;
	  font-size: 65px;
	 // padding-top: 50px;
	 // padding-left: 80px;
  }
  .connectme
  {
	  color: white;
	  font-size: 30px;  
	  padding-top: 100px;
  }
   .circularimg 
  {
	  border-radius: 50%;
	  // position: absolute;
	  // top: 100px;
	  // right: 80px;
  }
	  
    .para
  {
	 color: white;
	 font-size: 26px; 
	 // position: absolute;
	 // padding-left: 80px;
  }
   .para1
  {
	 // color: white;
	 font-size: 28px; 
	 padding-top: 10px;
	 // position: absolute;
	 // padding-left: 80px;
  }
  .para2
  {
	 color: red;
	 font-size: 30px; 
	 padding-top: 10px;
	 // position: absolute;
	 // padding-left: 80px;
  }
   .fa
  {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px 2px;
    border-radius: 50%;
 }
.fa:hover 
 {
    opacity: 0.7;
	
	
 }

.fa-facebook 
 {
  background: #3B5998;
  color: white;
 }

.fa-twitter 
 {
  background: #55ACEE;
  color: white;
 }

.fa-linkedin 
 {
  background: #007bb5;
  color: white;
 }

.fa-youtube 
 {
  background: #bb0000;
  color: white;
 }
.Textchange 
{
	font-size: 26px;
	color: white;
}


  @media only screen and (max-width: 600px) 
  {
  .MyName1
   {
   color: white;
   font-size: 40px;
 
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #a759d1 0%, #8261ee 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}