 *{
	  margin: 0;
	  padding: 0;
   // font-family:sans-serif;
  }
  body
  {
    background: rgb(1, 1, 5);
  }
  .container
  {
	   width: 100%;
	   height: 100%;
	  // background-image: url(img/background.png);
	  // background-size: contain;
	  // background-position: center;
	  // position: relative;
	  // overflow: visible;
	  
  }  

  .intro
  {
	  color: white;
	  font-size: 20px;
	//  padding-top: 100px; 
	// padding-left: 80px;
  }
  .MyName1
  {
	  color: white;
	  font-size: 50px;
	 // padding-top: 50px;
	 // padding-left: 80px;
  }
  .MyName2
  {
	  color: white;
	  font-size: 65px;
	 // padding-top: 50px;
	 // padding-left: 80px;
  }
  .connectme
  {
	  color: white;
	  font-size: 30px;  
	  padding-top: 100px;
  }
   .circularimg 
  {
	  border-radius: 50%;
	  // position: absolute;
	  // top: 100px;
	  // right: 80px;
  }
	  
    .para
  {
	 color: white;
	 font-size: 26px; 
	 // position: absolute;
	 // padding-left: 80px;
  }
   .para1
  {
	 // color: white;
	 font-size: 28px; 
	 padding-top: 10px;
	 // position: absolute;
	 // padding-left: 80px;
  }
  .para2
  {
	 color: red;
	 font-size: 30px; 
	 padding-top: 10px;
	 // position: absolute;
	 // padding-left: 80px;
  }
   .fa
  {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px 2px;
    border-radius: 50%;
 }
.fa:hover 
 {
    opacity: 0.7;
	
	
 }

.fa-facebook 
 {
  background: #3B5998;
  color: white;
 }

.fa-twitter 
 {
  background: #55ACEE;
  color: white;
 }

.fa-linkedin 
 {
  background: #007bb5;
  color: white;
 }

.fa-youtube 
 {
  background: #bb0000;
  color: white;
 }
.Textchange 
{
	font-size: 26px;
	color: white;
}


  @media only screen and (max-width: 600px) 
  {
  .MyName1
   {
   color: white;
   font-size: 40px;
 
  }
}
